HELP.md
!target/**/*.jar
!.mvn/wrapper/maven-wrapper.jar

target/
logs/

.env
city_coords_service/.idea
city_coords_service/__pycache__
*.txt
*.docx
*.pdf

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
